@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;

// Update some of Bulma's component variables
$body-background-color: #f6f6f6;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$button-focus-border-color: $purple;

@import "~bulma/bulma";

.element {
  &.is-loading {
    position: relative;
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
    &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
      border-width: 0.25em;
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;
  padding: 2rem 0 1rem;
}

@media screen and (max-width: 820px) {
  .main-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar > .container {
    height: 0;
  }
}

@media screen and (min-width: 820px) {
  .main-container {
    max-width: 700px;
    width: 700px;
  }
}
@media screen and (min-width: 1088px) {
  .main-container {
    max-width: 760px;
    width: 760px;
  }
}

@media screen and (min-width: 1280px) {
  .main-container  {
    max-width: 960px;
    width: 960px;
  }
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #CCC;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background-color: transparent;
}
