<!DOCTYPE html>
<html>
<head>
  <title>Vampire</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<div id="loading">
  正在加载脚本喵(&gt;^ω^&lt;)...
</div>
<div id="app">
  <navbar v-if="!showHero && showNav"></navbar>
  <transition name="fade">
    <div class="container main-container">
      <router-view></router-view>
    </div>
  </transition>
  <transition name="fade-move" mode="in-out">
  <hero v-if="showHero"></hero>
  </transition>
  <!--<div class="notice">-->
    <!--<message-block></message-block>-->
    <!--<message-block></message-block>-->
    <!--<message-block></message-block>-->
    <!--<message-block></message-block>-->
  <!--</div>-->
</div>
</body>
</html>
